*CMakeCache.txt
*CMakeFiles
*Makefile
*cmake_install.cmake
*.a
*.so
hiredis

*.swp
*.dylib


slog/include


log4cxx/apache-log4cxx-0.10.0*
log4cxx/include
log4cxx/lib

protobuf/bin
protobuf/include
protobuf/lib
protobuf/protobuf-3.5.1/
